
	   body{
		   background: linear-gradient(#ffcff1,#fcffa4);
		   height: 900px;
		   background-repeat : no-repeat
	   }
	  

p {
	font-family: Lucida Sans Unicode;
	font-size: 25px;
	color: black;
	text-align: center;
	background: linear-gradient(to left,lightgreen,lightblue);
	}
	

	
	
img {
    width: 100px;
    height: 200px;
    object-fit: contain;
    border-radius: 50%;
}

.img{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	column-gap: 5px;
}
		
div.uid1 {
	width: 250px;
	text-align: center;
	margin-top: 40px;
	margin-left: 40px;
}
div.container{
  padding: 10px;
  text-align: center;
  font-family: Lucida Sans Unicode;
  background: linear-gradient(to left,lightpink,lightgreen);
}
div.uid2 {
	width: 250px;
	text-align: center;
	margin-top: 50px;
	margin-left: 40px;
}
